.container {
    padding: 2
    0px;
}

.selectDay {
    width: calc(26% - 5px) !important;
    margin-right: 10px;
    clear: none;
  }
 
 .selectMonth {
    width: calc(42% - 10px) !important;
    margin-right: 10px;
    clear: none;
  }
  
  .selectYear {
    width: calc(32% - 5px) !important;
    margin-right: 0px;
    clear: none;
  }

  .inputDisabled{
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background: #999999;
    background: -webkit-radial-gradient(circle, #a1a1a1, #919191);
    background: -o-radial-gradient(circle, #a1a1a1, #919191);
    background: -moz-radial-gradient(circle, #a1a1a1, #919191);
    background: radial-gradient(circle, #a1a1a1, #919191);
    display: inline-block;
    height: 40px;
    line-height: 20px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    width: 50%;
    color: #333;
    font-family: sans-serif,Helvetica,Arial;
}

.DOBgroup {
  margin-right: 10px;
}

ul.formFieldRadioList {
  margin-right: 10px;
}