<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Securely Formly Creation</title>

    <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <link rel="stylesheet" type="text/css" href="css/extra.css">
    <!--
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    -->
</head>

<body ng-app="App" ng-controller="AppController as vm">

    <div class="container">

        <!--
            fsContactDetails narrow
            myDetails mandatory
        -->
        <h1>Update your details</h1>
        <fieldset class="myDetails mandatory">
            <legend class="legend">Mandatory</legend>
            <formly-form model="vm.formData" fields="vm.mandatoryFields" form="vm.straightForm">
            </formly-form>
        </fieldset>

        <fieldset class="myDetails mandatory">
            <legend class="legend">Optional</legend>
            <formly-form model="vm.formData" fields="vm.optionalFields" form="vm.straightForm">
                <input type="submit" class="btn btn-primary" ng-disabled="vm.rentalForm.$invalid" value="update">
            </formly-form>
        </fieldset>

        <div>
            <h2>Model</h2>
            <pre>{{vm.formData | json}}</pre>
        </div>
        <div>
            <h2>Fields</h2>
            <pre>{{vm.mandatoryFields | json}}</pre>
        </div>
        <div>
            <h2>Form</h2>
            <pre>{{vm.form | json}}</pre>
        </div>

    </div>

    <!-- ****************************************************************************************** -->
    <!-- Templates -->
    <!-- ****************************************************************************************** -->

    <!-- Input -->
    <!-- ***** -->
    <script type="text/ng-template" id="input.html">
        <div class="formField ffTitle">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <input class="{{options.templateOptions.className}}" ng-model="model[options.key]">
            <div ng-if="options.templateOptions.tooltip" ng-class="{'tooltipShow' : showTip }" class="tooltip" ng-click="showTip = !showTip"></div>
            <span class="tooltipText">{{options.templateOptions.tooltipText}}</span>
        </div>
    </script>

    <!-- inputDisabled -->
    <!-- ***** -->
    <script type="text/ng-template" id="inputDisabled.html">
        <div class="formField ffTitle">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <input class="inputDisabled {{options.templateOptions.className}}" ng-model="model[options.key]" readonly>
        </div>
        <span>{{ model[options.key] | json }}</span>
    </script>

    <!-- Select -->
    <!-- ****** -->
    <script type="text/ng-template" id="select.html">
        <div class="formField ffTitle">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <select ng-model="model[options.key]" ng-options="option.value as option.name group by option.group for option in options.templateOptions.options">
            </select>
            <div ng-if="options.templateOptions.tooltip" ng-class="{'tooltipShow' : showTip }" class="tooltip" ng-click="showTip = !showTip"></div>
            <span class="tooltipText">{{options.templateOptions.tooltipText}}</span>
        </div>
    </script>

    <script type="text/ng-template" id="dobWrapper.html">
        <div class="formField">
                <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
                <div class="DOBgroup">
                    <formly-transclude></formly-transclude>
                </div>
                <div ng-if="options.templateOptions.tooltip" ng-class="{'tooltipShow' : showTip }" class="tooltip" ng-click="showTip = !showTip"></div>
                <span class="tooltipText">{{options.templateOptions.tooltipText}}</span>
            </div>
    </script>

    <!-- dobSelect -->
    <!-- ****** -->
    <script type="text/ng-template" id="dobSelect.html">
        <select class="{{options.templateOptions.className}}" ng-model="model[options.key]" ng-options="option.value as option.name group by option.group for option in options.templateOptions.options">
        </select>
    </script>

    <!-- Radio -->
    <!-- ****** -->
    <script type="text/ng-template" id="radio.html">
        <div class="formField">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <ul id="{{options.id}}" class="formFieldRadioList twoItems">
                <li ng-repeat="(key, option) in to.options">
                    <input type="radio" id="{{id + '_'+ $index}}" tabindex="0" ng-value="option[to.valueProp || 'value']" ng-model="model[options.key]" />
                    <label for="{{id + '_'+ $index}}">{{option[to.labelProp || 'name']}}</label>
                </li>
            </ul>
            <div ng-if="options.templateOptions.tooltip" ng-class="{'tooltipShow' : showTip }" class="tooltip" ng-click="showTip = !showTip"></div>
            <span class="tooltipText">{{options.templateOptions.tooltipText}}</span>
        </div>
    </script>

    <!-- Checkbox -->
    <!-- ****** -->
    <script type="text/ng-template" id="checkbox.html">
        <div class="formField">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <label>
                <input type="checkbox"
                    class="formly-field-checkbox"
                        ng-model="model[options.key]">
                {{to.label}}
            </label>
            <div ng-if="options.templateOptions.tooltip" ng-class="{'tooltipShow' : showTip }" class="tooltip" ng-click="showTip = !showTip"></div>
            <span class="tooltipText">{{options.templateOptions.tooltipText}}</span>            
        </div>
    </script>

    <!-- MultiCheckbox -->
    <!-- ****** -->
    <script type="text/ng-template" id="multiCheckbox.html">
        <div class="formField">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <ul id="{{options.id}}" class="formFieldRadioList threeItems">
                <li ng-repeat="(key, option) in to.options">
                    <input type="checkbox" id="{{id + '_'+ $index}}" ng-model="multiCheckbox.checked[$index]" ng-change="change()">
                    <label for="{{id + '_'+ $index}}">{{option[to.labelProp || 'name']}}</label>
                </li>
            </ul>
        </div>
    </script>

    <!-- dateOfBirth -->
    <!-- ****** -->
    <script type="text/ng-template" id="dateOfBirth.html">
        <div class="formField">
            <label for="{{options.id}}" class="{{options.templateOptions.required ? 'requiredField' : ''}}">{{options.templateOptions.label}}</label>
            <div class="DOBgroup">
                
                <select class="formList selectDay" binding="CorporateInformation.DateOfBirth.Day" ng-model="options.templateOptions.day.key"
                    ng-options="option.value as option.name group by option.group for option in options.templateOptions.day.options">
                </select>
                
                <select class="formList selectMonth" ng-model="options.templateOptions.month.key" ng-options="option.value as option.name group by option.group for option in options.templateOptions.month.options">
                </select>
                
                <select class="formList selectYear">
                    <option value="1900">1900</option>
                </select>

            </div>
        </div>
    </script>



    <!-- ****************************************************************************************** -->
    <!-- Formly Form -->
    <!-- ****************************************************************************************** -->

    <hr />


    <!-- Application Dependencies -->
    <script src="node_modules/api-check/dist/api-check.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-formly/dist/formly.js"></script>
    <script src="node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <!-- Application Scripts -->
    <script src="app.js"></script>
    <script src="scripts/AppController.js"></script>
    <script src="scripts/province.js"></script>
    <script src="scripts/calendar.js"></script>
</body>

</html>